.HomeContactSection {
  background-image: url('../src/assets/images/contactSectionBG.jpeg');
}

/* Styles specific to mobile devices */
@media only screen and (max-width: 600px) {

  .imageClass {
    height: 200px;
  }

  .HomeContactSection {
    background-image: url('../src/assets/images/contactSectionBGMobile.jpeg');
  }
}

body {
  overflow-x: hidden;
}

/* color active dot in mobile sidebar */
.awssld__bullets--active {
  background-color: #8f65eb !important;
}