/* English fonts */
@font-face {
  font-family: 'GeistBold';
  src: url('./fonts/En/Geist-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMedium';
  src: url('./fonts/En/Geist-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeistThin';
  src: url('./fonts/En/Geist-Thin.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Arabic fonts */
@font-face {
  font-family: 'ZanjabeelBold';
  src: url('./fonts/Ar/Zanjabeel-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ZanjabeelMedium';
  src: url('./fonts/Ar/Zanjabeel-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ZanjabeelRegular';
  src: url('./fonts/Ar/Zanjabeel-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the animation to the image */
.image-fade-in {
  animation: ImageFadeIn 1s ease-in-out forwards;
  transition: transform 0.3s ease-in-out;
}

.image-fade-in:hover {
  transform: scale(1.0661);
}


/* Define the keyframes for the fade-in animation */
@keyframes ImageFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow-down-animate {
  transition: all 1s ease-in-out;
  animation: spring-animation 1s ease forwards infinite;
}

@keyframes spring-animation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(-2.5px);
  }

  80% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}


.AboutLoader {
  width: 60px;
  display: inline-block;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s 5 linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}