/* English fonts */
@font-face {
  font-family: 'GeistBold';
  src: url('./fonts/En/Geist-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMedium';
  src: url('./fonts/En/Geist-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeistThin';
  src: url('./fonts/En/Geist-Thin.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Arabic fonts */
@font-face {
  font-family: 'ZanjabeelBold';
  src: url('./fonts/Ar/Zanjabeel-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ZanjabeelMedium';
  src: url('./fonts/Ar/Zanjabeel-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ZanjabeelRegular';
  src: url('./fonts/Ar/Zanjabeel-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the animation to the image */
.image-fade-in {
  animation: ImageFadeIn 1s ease-in-out forwards;
  transition: transform 0.3s ease-in-out;
}

.image-fade-in:hover {
  transform: scale(1.0661);
}


/* Define the keyframes for the fade-in animation */
@keyframes ImageFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow-down-animate {
  transition: all 1s ease-in-out;
  animation: spring-animation 1s ease forwards infinite;
}

@keyframes spring-animation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(-2.5px);
  }

  80% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

/* About Features Slider */
.removedImage {
  transition: all 1s ease-in-out;
  animation: image-slider-remove-movement 0.5s ease-in-out;
}

.addedImage-1 {
  transition: all 1s ease-in-out;
  animation: image-slider-added-1-movement 0.5s ease-in-out;
}

.addedImage-2 {
  transition: all 1s ease-in-out;
  animation: image-slider-added-2-movement 0.5s ease-in-out;
}

.addedImage-3 {
  transition: all 1s ease-in-out;
  animation: image-slider-added-3-movement 0.5s ease-in-out;
  animation-delay: 1s;
}
/* About Features Slider Animation */
@keyframes image-slider-remove-movement {
  0% {
    transform: translateX(+50px);
    opacity: 0.8;
    height: 350px;
  }

  25% {
    transform: translateX(+90px);
    opacity: 0.6;
    height: 250px;
  }

  50% {
    transform: translateX(+120px);
    opacity: 0.4;
    height: 190px;
  }

  75% {
    transform: translateX(+150px);
    opacity: 0.2;
    height: 150px;
  }

  100% {
    transform: translateX(+150px);
    opacity: 0;
    height: 150px;
  }
}

/* transform: translateX(-300px); */
@keyframes image-slider-added-1-movement {
  0% {
    transform: translateX(-80px);
    height: 480px;
  }

  25% {
    transform: translateX(-130px);
    height: 490px;
  }

  50% {
    transform: translateX(-190px);
    height: 500px;
  }

  75% {
    transform: translateX(-250px);
    height: 510px;
  }

  100% {
    transform: translateX(-320px);
    height: 520px;
  }
}

@keyframes image-slider-added-2-movement {
  0% {
    transform: translateX(-80px);
  }

  25% {
    transform: translateX(-130px);
  }

  50% {
    transform: translateX(-190px);
  }

  75% {
    transform: translateX(-250px);
  }

  100% {
    transform: translateX(-314px);
  }
}