@font-face {
  font-family: 'GeistBoldRegular';
  src: url('./fonts/Geist-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CairoRegular';
  src: url('./fonts/Cairo-Regular.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the animation to the image */
.image-fade-in {
  animation: ImageFadeIn 1s ease-in-out forwards;
  transition: transform 0.3s ease-in-out;
}

.image-fade-in:hover{
  transform: scale(1.0661);
}


/* Define the keyframes for the fade-in animation */
@keyframes ImageFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow-down-animate {
  transition: all 1s ease-in-out;
  animation: spring-animation 1s ease forwards infinite;
}

@keyframes spring-animation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(-2.5px);
  }

  80% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}